{:deps
 {metosin/reitit {:mvn/version "0.3.1"}}

 :aliases
 {;; start ring jetty server
  :server {:extra-deps {mtkp/ring-dev {:local/root "../"}}
           :main-opts ["-m" "mtkp.ring-dev.main" "mtkp.example.service/handler"]}}}
