{:deps {org.clojure/spec.alpha {:mvn/version "0.2.194"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}
        ring/ring-jetty-adapter {:mvn/version "1.8.2"}
        ring/ring-devel {:mvn/version "1.8.2"}
        ring/ring-spec {:mvn/version "0.0.4"}
        expound/expound {:mvn/version "0.8.7"}}}
